[Unit]
Description=Flask Server for Aliyun DDNS
After=network.target

[Service]
ExecStart=/usr/bin/python3 /srv/dev-disk-by-uuid-584b62c7-7f2d-48a1-aa0c-44ff11fc7139/Data/LifeSpace/59-aliyun-ddns-new/listen.py
WorkingDirectory=/srv/dev-disk-by-uuid-584b62c7-7f2d-48a1-aa0c-44ff11fc7139/Data/LifeSpace/59-aliyun-ddns-new
User=yumeow
Group=users
Restart=always

[Install]
WantedBy=multi-user.target

